.sponsor-button {
  display: inline-block;
  padding: 12px 20px;
  background-color: #1e88e5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.2s ease;
}

.sponsor-button:hover {
  background-color: #f80606;
  transform: translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

header {
  text-align: center;
  margin-top: 80px;
  padding: 40px 20px;
  background-color: #f5f7fa;
}

header p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
  font-size: 1.1em;
}

.cta {
  text-align: center;
  margin-top: 25px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f3f5f7;
}

section {
  max-width: 700px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

h2 {
  margin-bottom: 20px;
}

/*Not using this class for now, but keeping it in case I want to use it later
.ride-image {
  max-height: 350px;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 8px;
  border-radius: 20px 0;
  display: block;
}
  */

.hero-image {
  max-width: 700px;
  margin: 20px auto;
}

.hero-image__img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: block;
}
